<h3>Set weight prices</h3>
<form [formGroup]="orderForm">
  <div formArrayName="items" 
    *ngFor="let item of orderForm.get('items').controls; let i = index; let last = last;">
    <div [formGroupName]="i" [ngClass]="{'saved-item': !last}" class="mt-3 item-wrapper">
      <div class="form-row d-flex align-items-end">
        <div class="col-md-3">
          <input [placeholder]="weightPlaceholder" type="number" formControlName="weight" class="form-control">
          <div class="danger" *ngIf="hasWeightRequiredError(i)">Weight is required</div>
        </div>
        <div class="col-md-3">
          <input placeholder="Cost" [textMask]="{mask: dollarMask}" formControlName="cost" class="form-control">
          <div class="danger" *ngIf="hasCostRequiredError(i)">Cost is required</div>
        </div>
        <div class="col-md-3">
          <input placeholder="Name" formControlName="name" class="form-control">
          <div class="danger" *ngIf="hasNameRequiredError(i)">Name is required</div>
        </div>
        <div class="col-md-3">
          <button *ngIf="!last" (click)="removeSkew(i)" class="btn btn-danger">Remove</button>
          <button *ngIf="last" (click)="addSkew(i)" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>