<form [formGroup]="orderForm">
  <div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index; let last = last;">
    <div [formGroupName]="i">
      <div class="form-row d-flex align-items-end">
        <div class="col">
          <label for="weight">Weight</label>
          <input formControlName="weight" class="form-control">
        </div>
        <div class="col">
          <label for="cost">Cost</label>
          <input formControlName="cost" class="form-control">
        </div>
        <div class="col">
          <label for="name">Name</label>
          <input formControlName="name" class="form-control">
        </div>
        <div class="col">
          <button *ngIf="!last" (click)="removeSkew(i)" class="btn btn-danger">Remove</button>
          <button *ngIf="last" (click)="addSkew()" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
</form>