$red: rgb(228, 7, 7);
$hover-input-border-color: #808080;
$invalid-border-color: $red;
$invalid-text-color: $red;

.saved-item {
  input {
    &:not(:focus) {
      border: 1px solid transparent;
    }

    &:hover {
      border: 1px dashed $hover-input-border-color;
      cursor: pointer;
    }
  }
}

input {
  &.ng-dirty {
    &.ng-invalid {
      border: 1px solid $invalid-border-color;
    }
  }
}

.item-wrapper {
  &.ng-dirty {
    &.ng-invalid {
      input {
        border: 1px solid $invalid-border-color;
      }
    }
  }
}

.danger {
  color: $invalid-text-color;
}